.user-icon {
    font-size: 22px;
    color: #FFF;
}

.medal-icon {
    font-size: 21px;
    color: #FFF;
    /* color: #A7AEBE; */
}

.white-field {
    font-size: 25px;
    color: #A7AEBE;
}

.white-shield {
    font-size: 23px;
    color: #A7AEBE;
}

.white-table {
    font-size: 21px;
    color: #A7AEBE;
}