.user-icon {
    font-size: 22px;
    color: #FFF;
}

.medal-active {
    font-size: 21px;
    color: #FFF;
    /* color: #A7AEBE; */
}

.medal-inactive {
    font-size: 21px;
    color: #A7AEBE;
}

.field-active {
    font-size: 25px;
    color: #FFF;
}

.field-inactive {
    font-size: 25px;
    color: #A7AEBE;
}

.shield-active {
    font-size: 23px;
    color: #FFF;
}

.shield-inactive {
    font-size: 23px;
    color: #A7AEBE;
}

.table-active {
    font-size: 21px;
    color: #FFF;
}

.table-inactive {
    font-size: 21px;
    color: #A7AEBE;
}